.menu{
margin-top: 0%;
text-align: right;
margin-left: 70%;
font-size: 50%;
}
.contact{
    padding: 0px 30px;
    margin: 0;
    overflow: hidden;
}
.body{
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
}
.card{
    background-color:brown;
    height: 500px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    text-align: center;
    
}
.container{
    display: flex;
}
.heading{
    background: wheat;
    border-radius: 2px;
    text-align: center;
    margin-top: 5px;
}
.heading h6{
    padding: 15px;
    font-size: 20px;
}
.footer{
    background-color:rgb(67, 67, 204);
    text-align: right;
    padding: 20px 30px;
    overflow: hidden;
    
}
.footer{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.container1 {
    display: inline-block;
    cursor: pointer;
}
.bar1,.bar2,.bar3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin : 6px 0;
    transition:0.4s;
}
.change.bar1{
    -webkit-transform: rotate(-45deg)translate(-9px,6px);
    transform:rotate(-45deg)translate(-8px,8px); }
    .change.bar2 {
        opacity: 0;
    }
    .change.bar3{
        -webkit-transform:rotate(-45deg)translate(-8px,8px);
        transform : rotate(-45deg)translate(-9px,6px);

    }
    

.cont{
    background-color: rgb(67, 67, 204);
    font-size: 50%;
    width: 100%;
    text-decoration-style: none;
    padding: 20px 30px;
    overflow: hidden;    
}
.cont a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 15px;
}
.cont a:hover{
    color: coral;
}
.icon{
    width: 5%;
    height: 5%;
}